.index-container {
  display: inline-block;
  margin:0 auto;
}

.hide {
  display: none;
}

.detail {
  float: left;
  margin: 0 25px 50px;
  width: 160px;
  text-align: center;
}
.detail-info h3 {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-top: 1rem;
}

.detail-page {
  .profile-image {
    border: 1px solid #e8e8e8;
    float: left;
    margin: 0 20px 20px;
    max-height: 300px;
    max-width: 300px;
  }
}

.site-title {
  background: url(/images/header-300.jpg) no-repeat -65px center;
  height: 70px;
  text-indent: -9999px;
  width: 240px;
}

.site-nav {
  line-height: 70px;
}

.module-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  float: left;
  margin: 10px 18px;
  max-width: 700px;
}

.index-container .module-box {
  width: 330px;
}

.module-header {
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0;
  }
}

.module-body {
  font-size: 14px;

  > div,
  > h3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  > h3 {
    background-color: #ddd;
  }
}

h3 .replay-archive {
  font-size: 12px;
  font-weight: normal;
}

.module-footer {
  font-size: 14px;
  padding: 12px;
}

.radio-module {
  padding-left: 1px;
}

.twitter-module {
  float: left;
  margin: 10px 19px;
  width: 330px;
}

.row {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  padding-bottom: 12px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 12px;
  }

  &.show-row h3 {
    font-size: 16px;
  }

  .icons {
    margin-top: -8px;
    margin-bottom: 10px;
  }

  .blurb {
    clear: both;
  }
}


.profile-image {
  border: 1px solid #eee;
  max-width: 200px;
  max-height: 200px;
  margin:0 20px 20px 0;
  float:left;
}

.show-row {
  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin: 4px 0;

      &.more {
        margin-top: 12px;
      }
    }
  }
}
